---
interface Props {
  title: string;
  description: string;
  className?: string;
}

const { title, description, className = '' } = Astro.props;
---

<div class={className}>
  <div class="bg-white shadow rounded p-5">
    <h6 class="mb-1 pt-5 text-xl font-semibold">{title}</h6>
    <p class="text-xs leading-5">{description}</p>
  </div>
</div>
