---
interface Props {
  quote: string;
  name: string;
  company: string;
  image: string;
}

const { quote, name, company, image } = Astro.props;
---

<div class="swiper-slide">
  <div class="border-[3px] border-primary/40 my-5 py-[4rem] px-7 rounded-xl relative">
    <div class="absolute bg-transparent text-primary px-3 py-5 -top-1 -left-1">
      <svg width="36" height="30" viewBox="0 0 36 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M14.3955 0V6.01875C12.4927 6.12375 11.052 6.471 10.0747 7.06125C9.09672 7.6515 8.40972 8.6085 8.01297 9.933C7.61697 11.2575 7.41822 13.152 7.41822 15.6173H14.3955V29.976H0.0847168V16.3252C0.0847168 10.6867 1.29372 6.5565 3.71172 3.93375C6.13047 1.311 9.69147 0 14.3955 0ZM36 0V6.01875C34.0972 6.12375 32.6572 6.45825 31.6792 7.02225C30.7012 7.5855 29.994 8.54325 29.5582 9.894C29.1225 11.244 28.9042 13.152 28.9042 15.6173H36V29.976H21.6105V16.3252C21.6105 10.6867 22.8127 6.5565 25.2172 3.93375C27.6225 1.311 31.2165 0 36 0Z"
          fill="currentColor" fill-opacity="0.4" />
      </svg>
    </div>

    <div class="absolute bg-transparent text-primary px-3 py-5 -bottom-1 -right-1">
      <svg width="36" height="30" viewBox="0 0 36 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M21.6045 30V23.9813C23.5073 23.8763 24.948 23.529 25.9253 22.9387C26.9033 22.3485 27.5903 21.3915 27.987 20.067C28.383 18.7425 28.5818 16.848 28.5818 14.3827H21.6045L21.6045 0.0240011H35.9153L35.9153 13.6748C35.9153 19.3133 34.7063 23.4435 32.2883 26.0662C29.8695 28.689 26.3085 30 21.6045 30ZM2.95706e-05 30V23.9813C1.90278 23.8763 3.34278 23.5417 4.32078 22.9777C5.29878 22.4145 6.00603 21.4568 6.44178 20.106C6.87753 18.756 7.09578 16.848 7.09578 14.3827H2.95706e-05L2.95706e-05 0.0240011H14.3895V13.6748C14.3895 19.3133 13.1873 23.4435 10.7828 26.0662C8.37753 28.689 4.78353 30 2.95706e-05 30Z"
          fill="currentColor" fill-opacity="0.4" />
      </svg>
    </div>

    <p class="font-semibold text-lg lg:text-xl mb-10">{quote}</p>
    <div class="flex space-x-8 items-center">
      <img width="82" height="85" loading="lazy" class="rounded-lg" src={image} alt="testimonial-img" />
      <div>
        <h5>{name}</h5>
        <p class="font-semibold">{company}</p>
      </div>
    </div>
  </div>
</div>
